[kanboard]
url = https://localhost/jsonrpc.php
user = <user>
api_token = <api-token>
#ca_certificate = /etc/pki/tls/certs/ca-bundle.crt

[default]
format = {{ title }} ({{ project_name }} / {{ column_name }})
